body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #e3f2fd, #ffffff);
}

.card {
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

.btn {
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
}
a:hover {
    color: #ffcc00;
}